:root {
    --primary-color: #4285f4;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    & > div {
        max-width: 30rem;
        margin: 0 auto;
    }
}

.status {
    border-bottom: 2px solid;

    &.disconnected {
        border-color: red;
    }

    &.connected {
        border-color: green;
    }
}

.controls {
    display: flex;
    margin-top: 4rem;
    justify-content: space-around;
}

.input-group {
    & label {
        top: 8px!important;
    }

    & input {
        outline: 2px solid;
        padding: 6px!important;
        border: 3px solid transparent;

        &:focus {
            outline: 2px solid transparent!important;
            border-bottom: 3px solid var(--primary-color)!important;
        }
    }
}

.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
    top: -19px!important;
}

hr {
    margin: 2rem 0;
}

button {
    font-size: 1rem;
    transition: all 0.2s;
    cursor: pointer;
    border: 2px solid;
    outline: 2px solid transparent;
    background-color: transparent;
    padding: 0.5rem 1rem;

    &:hover {
        border-color: #00bfff;
        outline-color: #00bfff;
        background: seashell;
    }

    &:disabled {
        cursor: not-allowed;

        &:hover {
            border-color: #1010104d;
            /* outline: 1px solid rgba(16, 16, 16, 0.3); */
            outline: none;
            background-color: transparent;
        }
    }
}
